#end-score,
#hscore {
  font-size: 28px;
  font-weight: 500;
}

#container-title {
  font-weight: 500;
  font-size: 26px;
}

#scores {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  > span {
    grid-column: span 2;
    justify-self: center;
    font-style: italic;
  }
}
