*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.15;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

svg {
  vertical-align: baseline;
}

input,
button,
textarea,
select,
optgroup {
  font: inherit;
  font-size: 100%;
  line-height: 1.15;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

@font-face {
  font-family: "Tektur";
  src: url(./assets/Jura/Jura-VariableFont_wght.ttf) format("truetype");
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}

.flex {
  display: flex;
}

:root {
  font-family: "Tektur", system-ui, sans-serif;
  font-size: 22px;
  @media (max-width: 1000px) {
    font-size: 16px;
  }
  font-weight: 500;
}

#root {
  background: radial-gradient(
    circle,
    rgba(245, 245, 244, 1) 42%,
    rgba(212, 212, 216, 1) 67%,
    rgba(161, 161, 170, 1) 100%
  );

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main {
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;

  #title {
    font-size: 1.5rem;
  }
}

input,
select {
  min-height: 2rem;
  vertical-align: middle;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 0.5ch;
}

select {
  padding-bottom: 4px;
}

button {
  background-color: #38bdf8;
  color: white;
  border: 3px solid white;
  outline: 3px solid #0284c7;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  font-weight: 700;
  will-change: contents;
  transition: background-color 0.3s;
  letter-spacing: 0.2ch;
  box-shadow: 3px 3px 5px #292524;

  &:hover {
    cursor: pointer;
    background-color: #0284c7;
  }
}
